body,
html {
  height: 100%;
  margin: 0;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 6fr;
  box-sizing: border-box;
}

.header {
  background-color: lightgray;
  grid-column: 2;
  grid-row: span 1;
}

.sidebar {
  background-color: lightblue;
  grid-column: 1;
  grid-row: 1/3;

  display: grid;
  grid-template-rows: 0.5fr 0.5fr 5fr;
}

.logo {
  color: white;
  background-color: darkblue;
  grid-row: span 1;
}

.selections1 {
  grid-row: 3/4;
  background-color: darkblue;
}

.dashboard {
  background-color: bisque;
  grid-column: 2;
  grid-row: 2/3;
}